<div class="cards container mt-5">
    <% @ufos.each do |ufo| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag "ufo1.jpg", alt: "ufo-image", class: "card-img-top" %>
        <%#= cl_image_tag photo_or_fallback(cocktail), style: "height: 180px; object-fit: cover;" %>
          <p class="card-text card-absolute"><%= ufo.brand %></p>
        <div class="card-body">
          <% if ufo.availability %>
            <p class="card-text">Available</p>
          <% else %>
            <p class="card-text">Rented</p>
          <% end %>
          <%= link_to 'See details', ufo_path(ufo.id) %>
        </div>
      </div>
  <% end %>
</div>