$green: #27AE60;

.title {
  color: white;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  fill: white;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link,
.navbar-light .navbar-nav .nav-link  {
    color: white;
}

.btn {
  color: white;
}

.main-logo {
  padding-left: 10px;
  width: 60px;

  path {
    fill: #fff;
  }
}

.avatar {
  margin-right: 10px;
}

.nav-item {
  margin-right: 10px;
}
